:root {
    --md-sys-color-primary: rgb(249 218 128);
    --md-sys-color-surface-tint: rgb(226 196 109);
    --md-sys-color-on-primary: rgb(47 36 0);
    --md-sys-color-primary-container: rgb(168 142 61);
    --md-sys-color-on-primary-container: rgb(0 0 0);
    --md-sys-color-secondary: rgb(235 219 181);
    --md-sys-color-on-secondary: rgb(45 37 12);
    --md-sys-color-secondary-container: rgb(157 144 110);
    --md-sys-color-on-secondary-container: rgb(0 0 0);
    --md-sys-color-tertiary: rgb(194 229 196);
    --md-sys-color-on-tertiary: rgb(13 43 21);
    --md-sys-color-tertiary-container: rgb(120 153 123);
    --md-sys-color-on-tertiary-container: rgb(0 0 0);
    --md-sys-color-error: rgb(255 210 204);
    --md-sys-color-on-error: rgb(84 0 3);
    --md-sys-color-error-container: rgb(255 84 73);
    --md-sys-color-on-error-container: rgb(0 0 0);
    --md-sys-color-background: rgb(22 19 11);
    --md-sys-color-on-background: rgb(234 226 212);
    --md-sys-color-surface: rgb(22 19 11);
    --md-sys-color-on-surface: rgb(255 255 255);
    --md-sys-color-surface-variant: rgb(76 70 57);
    --md-sys-color-on-surface-variant: rgb(229 219 201);
    --md-sys-color-outline: rgb(185 177 160);
    --md-sys-color-outline-variant: rgb(151 144 127);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(234 226 212);
    --md-sys-color-inverse-on-surface: rgb(45 42 33);
    --md-sys-color-inverse-primary: rgb(88 70 0);
    --md-sys-color-primary-fixed: rgb(255 224 135);
    --md-sys-color-on-primary-fixed: rgb(23 16 0);
    --md-sys-color-primary-fixed-dim: rgb(226 196 109);
    --md-sys-color-on-primary-fixed-variant: rgb(67 52 0);
    --md-sys-color-secondary-fixed: rgb(241 225 187);
    --md-sys-color-on-secondary-fixed: rgb(23 16 0);
    --md-sys-color-secondary-fixed-dim: rgb(212 197 161);
    --md-sys-color-on-secondary-fixed-variant: rgb(62 53 27);
    --md-sys-color-tertiary-fixed: rgb(200 236 202);
    --md-sys-color-on-tertiary-fixed: rgb(0 21 5);
    --md-sys-color-tertiary-fixed-dim: rgb(172 207 175);
    --md-sys-color-on-tertiary-fixed-variant: rgb(30 60 37);
    --md-sys-color-surface-dim: rgb(22 19 11);
    --md-sys-color-surface-bright: rgb(72 68 58);
    --md-sys-color-surface-container-lowest: rgb(9 7 3);
    --md-sys-color-surface-container-low: rgb(33 29 21);
    --md-sys-color-surface-container: rgb(43 40 31);
    --md-sys-color-surface-container-high: rgb(54 50 41);
    --md-sys-color-surface-container-highest: rgb(65 61 52);
}
