PG_USER=postgres
PG_PASS=postgres
GEMINI_API_KEY=example-secret-key # Change this to your GEMINI API KEY obtained from Google AI Studio

# Rename this file to .env and change vars accordingly to run docker-compose smoothly.
